# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Binaries / Object files
bin
obj

# Outputs
data*
out*
plot

# Compiled values
*-monitor

# Python virtual env
venv3
venv

# Other stuff
*.pyc

# SGX generated
*_u.c
*_u.h
*_t.c
*_t.h
.config_HW_DEBUG_x64
app
!app/

poc
!poc/
poc_*
!poc_*/
test
!test/
input.txt

perf.txt

sike_local
sike_server
sike_client

bit_recovered.txt

circl/

.vscode/

## MacOS Specific Ignores

# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk